/* Add screen styles below */
a.active {
    font-weight: bold;
}


.button1 {
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 10px 20px;
    
    text-decoration: none;
    display: inline-block;
    justify-content: left;
    font-size: 20px;
    text-decoration: none;
  }

  .button2{

    text-align: center;
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 10px 20px;
    
    text-decoration: none;
    display: inline-block;
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    text-decoration: none;
  }
  .button3{
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: right; 
    align-items: right;
    font-size: 20px;
    text-decoration: none;
    
      }