ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; 
}

ul li {
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 58%);
  font-size: 20px;
}

a.active {
  font-weight: bold;
}


header {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 2em;
  color: hsl(0, 0%, 20%);
  padding-left: 20px;
}


.image-aidan {
  width: 300px;
  margin-right: 20px;
  padding: 10px;
  padding-bottom: 10px;
}


img {
  width: auto;  
  height: auto; 
  max-width: 100%; 
  display: block;

}

.image-text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 40px;
}

.image-text-section .image {
  width: 300px;
  margin-right: 20px;
}

.image-text-section .text {
  max-width: 500px;
  font-size: 16px;
  line-height: 1.5;
}
.lego {
  text-align: center; 
}

img {
  width: auto; 
  height: auto; 
  max-width: 100%; 
}
body{
  background-color: aliceblue;
  font-family: sans-serif;
}
