/* Add screen styles below */
a.active {
    font-weight: bold;
}


.button {
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
  }

  section-1{

text-align: center;
  }
  section-2{

    text-align: left;
      }

      section-3{

        text-align: right;
    }