/* Add screen styles below */
a.active {
    font-weight: bold;
}


.button1 {
    background-color: hsl(0, 0%, 58%); 
    border: none;
    color: white;
    padding: 10px 20px;
    
    text-decoration: none;
    display: flex;
    justify-content: right;
    font-size: 20px;
    text-decoration: none;
  }

  .button2{

    text-align: center;
    background-color: hsl(0, 0%, 58%);
    border: none;
    color: white;
    padding: 10px 20px;
    
    text-decoration: none;
    display: flex;
    justify-content: right; 
    align-items: right;
    font-size: 20px;
    text-decoration: none;
  }
  .button3{
    background-color: hsl(0, 0%, 58%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: right; 
    align-items: right;
    font-size: 20px;
    text-decoration: none;
    
      }





      .section6{
        background-color: hsl(0, 0%, 58%);
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: right; 
        align-items: right;
        font-size: 20px;
        text-decoration: none;


      }